<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
        <div class="col-12 p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"></strong>
            <h3 class="mb-1"></h3>
            <div class="mb-1 text-muted"></div>
                <div class="row row-cols-16 align-items-center py-1">
                        {% include 'partials/array/rankings.html.twig' %}
                                <p>#</p>
                            </a>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>First name</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Last name</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Country</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Age</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Rating hard</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Rating clay</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Rating grass</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Rating indoor</small></p>
                        </div>
                        {% include 'partials/array/format.html.twig' %}
                            <p><small>Raw rating</small></p>
                        </div>
                    </div>
                    <hr>
                </div>