<nav class="col-lg-9 offset-lg-3">
    <ul class="pagination justify-content-center pagination-lg pagination-square">
        <li class="page-item active">
            {{ knp_pagination_render(players) }}
        </li>
    </ul>
</nav>